* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.v315_3 {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.logo_about {
    width: 4.5%;
    height: 80%;
    background: url("../media/student_info_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    margin: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.container {
    width: 80%;
    height: 80%;
    background: url("../media/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    opacity: 1;
    position: absolute;
    top: 220px;
    left: 160px;
    overflow: hidden;
}
.container_layout {
    width: 90%;
    height: 80%;
    background: rgba(255,255,255,1);
    opacity: 1;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    position: absolute;
    align-self: center;
    alignment: center;
    border: 1px solid rgba(72,64,63,1);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
}
.text_container {
    width: 60%;
    height: 60%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 209px;
    left: 97px;
    font-family: EB Garamond;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}
.v318_3650 {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 65px;
    overflow: hidden;
}
.v318_3651 {
    width: 64px;
    height: 64px;
    border: 0;
    opacity: 1;
    top:15%;
    left:3%;
    position: absolute;
}
.v318_3652 {
    width: 70%;
    height: 60%;
    background: url("../media/info.png");
    opacity: 1;
    border: 0;
    position: relative;

}
.container_logo {
    width: 20%;
    height: 20%;
    background: url("../media/student_info2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60%;
    right: 10%;
    overflow: hidden;
}
.name {
    color: #fff;
}
.v334_5673 {
    width: 127px;
    height: 38px;
    background: url("../media/info.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 2504px;
    overflow: hidden;
}
.v334_5674 {
    width: 127px;
    color: rgba(244,219,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v334_5675 {
    width: 122px;
    background: url("../media/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 3px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.navigation_about {
    width: 100%;
    height: 15%;
    background: rgba(0,0,0,0.9399999976158142);
    opacity: 1;
    position: absolute;
    overflow: hidden;
}
.home_text2 {
    width: 10%;
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: Roboto;
    font-weight: Regular;
    text-decoration: none;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.about_text2 {
    width: 10%;
    color: rgba(244,219,0,1);
    position: absolute;
    top: 30%;
    left: 70%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.login_text2 {
    width: 10%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30%;
    left: 90%;
    text-decoration: none;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.logo_about {
    width: 4.5%;
    height: 70%;
    background: url("../media/student_info_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    margin: 0.5%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    opacity: 1;
    top: 12.5%;
    left: 0px;
    overflow: hidden;
}
.home_text2:hover {
    width: 10%;
    color: rgba(244,219,0,1);
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.login_text2:hover {
    width: 10%;
    color: rgba(244, 219, 0, 1);
    position: absolute;
    top: 30%;
    left: 90%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
