@media screen and (min-width: 1024px) and (min-height: 828px) {
    .Total_block {
        width: 100%;
        height: 100%;
    }

    body {
        font-size: 14px;
        width: 100%;
    }
}

.Total_block {
    width: 100%;
    height: 780px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.background_image {
    width: 45%;
    height: 100%;
    background: url("../media/login_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.username_text {
    width: 88px;
    color: rgba(3, 45, 35, 1);

    position: absolute;
    top: 255px;
    left: 730px;

    font-family: Inter, serif;
    font-weight: Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    text-align: left;
}

.password_text {
    width: 88px;
    color: rgba(3, 45, 35, 1);

    position: absolute;
    top: 385px;
    left: 730px;

    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    text-align: left;
}

.username_label {
    width: 404px;
    height: 70px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    color: rgba(3, 45, 35, 1);
    stroke-width: 3;
    position: absolute;
    top: 290px;
    left: 730px;
    border: 2px solid rgba(3.000000058673322, 45.00000111758709, 35.00000171363354, 1);

    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    text-align: left;
}

.password_label {
    width: 404px;
    height: 70px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    border: 2px solid rgba(3.000000058673322, 45.00000111758709, 35.00000171363354, 1);
    top: 420px;
    left: 730px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    position: absolute;
    text-align: left;
}

.login_button {
    width: 404px;
    height: 74px;
    background-color: #032D23;
    border-radius: 6px;
    font-size: 24px;

    background-repeat: no-repeat;
    background-position: center center;
    text-decoration-color: white;
    color: white;
    background-size: cover;

    opacity: 1;
    position: absolute;
    top: 580px;
    left: 730px;
    overflow: hidden;
}

.forget_pasword {
    width: 155px;
    color: rgba(3, 45, 35, 1);

    position: absolute;
    top: 530px;
    left: 990px;

    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-decoration: none;
    text-align: left;
}

.Back {
    width: 40px;
    height: 40px;
    background: url("../media/Login/Double_Left.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 90%;
    left: 730px;
    overflow: hidden;
}

.Back_txt {
    position: absolute;
    top: 90%;
    left: 776px;
    color: #032D23;

    font-family: Cambo;
    font-weight: Regular;
    font-size: 25px;
    text-align: left;
}

.fa {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 25px;

    opacity: 1;
    position: relative;
    top: 442px;
    left: 1080px;
    overflow: hidden;
}

#hide {
    display: none;
}

.remember_me {
    width: 126px;
    color: rgba(3, 45, 35, 1);
    position: absolute;
    top: 528px;
    left: 770px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.check {
    width: 27px;
    height: 31px;
    background: rgba(255, 255, 255, 1);

    opacity: 1;
    position: absolute;
    top: 520px;
    left: 730px;
    overflow: hidden;
}

.mail_icon {
    width: 30px;
    height: 30px;
    background: url("../media/Login/mail.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    opacity: 1;
    position: absolute;
    top: 315px;
    left: 1080px;
    overflow: hidden;
}

.Logo_Top {
    width: 8%;
    height: 8%;

    background: url("../media/student_info2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: absolute;
    top: 25px;
    left: 710px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.title {
    width: 300px;
    position: absolute;
    top: 35px;
    left: 860px;

    font-family: Cambo;
    font-weight: Regular;
    font-size: 38px;
    opacity: 1;
    text-align: left;
}

.title2 {
    width: 467px;
    color: rgba(3, 45, 35, 1);
    position: absolute;
    top: 170px;
    left: 730px;

    font-family: Playfair Display;
    font-weight: Bold Roman;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.welcome_text {
    width: 500px;
    position: absolute;
    top: 120px;
    left: 730px;
    font-family: Cambo;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
}

.write {
    color: rgba(170, 167, 19, 1);
}
