* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.v317_3215 {
    width: 100%;
    height: 943px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v317_3266 {
    width: 720px;
    height: 943px;
    background: url("../media/login_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v323_3386 {
    width: 50px;
    height: 56px;
    background:  url("../media/student_info2.png");;
    opacity: 1;
    position: absolute;
    top: 571px;
    left: 1193px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.v323_3394 {
    width: 88px;
    color: rgba(3,45,35,1);
    position: absolute;
    top: 579px;
    left: 876px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    text-align: left;
}
.v323_3398 {
    width: 48px;
    color: rgba(3,45,35,1);
    position: absolute;
    top: 486px;
    left: 876px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 0.6000000238418579;
    text-align: left;
}
.v323_3399 {
    width: 467px;
    color: rgba(3,45,35,1);
    position: absolute;
    top: 337px;
    left: 853px;
    font-family: Playfair Display;
    font-weight: Bold Roman;
    font-size: 60px;
    opacity: 1;
    text-align: left;
}
.v323_3401 {
    width: 404px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 471px;
    left: 855px;
    border: 2px solid rgba(3,45,35,1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.v323_3402 {
    width: 404px;
    height: 69px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 564px;
    left: 855px;
    border: 2px solid rgba(3,45,35,1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.v323_3403 {
    width: 404px;
    height: 74px;
    background-color: #032D23;
    border-radius: 6px;
    font-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration-color: white;
    color: white;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 855px;
    overflow: hidden;
}
.v323_3404 {
    width: 404px;
    height: 74px;
    background: rgba(3,45,35,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.v323_3405 {
    width: 55px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 17px;
    left: 175px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v323_3410 {
    width: 155px;
    color: rgba(3,45,35,1);
    position: absolute;
    top: 651px;
    left: 1105px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v323_3411 {
    width: 126px;
    color: rgba(3,45,35,1);
    position: absolute;
    top: 651px;
    left: 890px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v323_3412 {
    width: 27px;
    height: 31px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 655px;
    left: 855px;
    overflow: hidden;
}
.v323_3413 {
    width: 27px;
    height: 31px;
    background: url("../media/frame.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v323_3414 {
    width: 20px;
    height: 23px;
    background: rgba(170,167,19,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 4px;
}
.v323_3426 {
    width: 91px;
    height: 88px;
    background: url("../media/student_info2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 767px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.v323_3429 {
    width: 226px;
    color:rgba(170,167,19,1);
    position: absolute;
    top: 43px;
    left: 876px;
    font-family: Cambo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}
.v323_3430 {
    width: 558px;
    position: absolute;
    top: 238px;
    left: 853px;
    font-family: Cambo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}
.v323_3485 {
    width: 30px;
    height: 30px;
    background: url("../media/mail.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 491px;
    left: 1205px;
    overflow: hidden;
}
