body {
  font-size: 14px;
}
.v312_3 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.navigation {
  width: 100%;
  height: 15%;
  background: rgba(0,0,0,0.9399999976158142);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v313_ {
  width: 10%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 1282px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.home_text {
  width: 10%;
  color: rgba(244,219,0,1);
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: Roboto;
  font-weight: Regular;

  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.about_text {
  width: 10%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30%;
  left: 70%;
  font-family: Roboto;
  font-weight: Regular;
  text-decoration: none;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.login_text {
  width: 10%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30%;
  left: 90%;
  text-decoration: none;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.logo {
  width: 4.5%;
  height: 70%;
  background: url("../media/student_info_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  margin: 0.5%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.background_image {
  width: 100%;
  height: 100%;
  background: url("../media/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: 1;
  top: 12.5%;
  overflow: hidden;
}
.quotation {
  width: 30%;
  height: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top:50%;
  left: 60%;
  font-max-size: 48px;
  font-size: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "EB Garamond", serif;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
.home_text:hover {
  width: 10%;
  color: rgba(244,219,0,1);
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.about_text:hover {
  width: 10%;
  color: rgba(244,219,0,1);
  position: absolute;
  top: 30%;
  left: 70%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.login_text:hover {
  width: 10%;
  color: rgba(244, 219, 0, 1);
  position: absolute;
  top: 30%;
  left: 90%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
