.dashboard_bar {
    width: 260px;
    height: 100%;
    margin:0;
    padding-left: 10px;
    padding-top:20px;
    background: rgba(54, 55, 64, 1);
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: visible;

}

.klaus_title {
    width: 100%;
    color: rgba(164, 166, 179, 1);
    position: fixed;
    margin-left:60px;
    margin-top:10px;
    font-family: Mulish, serif;
    font-weight: Bold;
    font-size: 19px;
    opacity: 0.699999988079071;
    text-align: left;
}


.v325_3765 {
    width: 3px;
    height: 56px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.logo_overview {
    width: 4%;
    height: 8%;
    background: url("../media/student_info_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    margin-top:5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.dashboard_bar nav{
    margin-top: 100px;
}
.dashboard_bar a {

    padding: 0px 8px 6px 0px;
    text-decoration: none;
    width: 100%;
    margin-left:0;
    margin-top:20px;
    font-size: 20px;
    color: #818181;
    margin-bottom:20px;
    display: block;
}
.dashboard_bar a:hover{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    width:230px;
    font-size: 20px;
    color: white;
    background-color:#DDE2FF;
    display: block;
}
.schedule_text {

}


