
:root {
    --selected: rgba(221, 226, 255, 1);
    --unselected: rgba(164, 166, 179, 1);
    --blue: rgba(18, 148, 242, 1);
}
@media screen and (max-width: 700px)
    .dashboard_bar {
        width: 100%;
        height: auto;
        position: fixed;
    }
    .dashboard_bar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .dashboard_bar a {
        text-align: center;
        float: none;
    }
}

.content_overview_page {
    width: 50vw;
    left: 24.6vw;
    top: 10vh;
}

.chart_text {
    width: 771px;
    color: rgba(37, 39, 51, 1);
    position: absolute;
    top: 136px;
    left: 1125px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}



.cards {
    width: 40vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: 20vh;
    left: 22vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card1 {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card1:hover {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: 4px solid rgba(18, 148, 242, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.card1_text {
    width: 30%;
    color: rgba(159, 162, 180, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card1:hover .card1_text {
    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card1_subtext {
    width: 30%;
    color: rgba(37, 39, 51, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float: inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.card1:hover .card1_subtext {
    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float: inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}


.card2 {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 55%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card2:hover {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 55%;
    border: 4px solid rgba(18, 148, 242, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.card2_text {
    width: 30%;
    color: rgba(159, 162, 180, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card2:hover .card2_text {

    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float: inside;
    font-family: Mulish, serif;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;

}

.card2_subtext {
    width: 30%;
    color: rgba(37, 39, 51, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float: inside;
    font-family: Mulish, serif;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.card2:hover .card2_subtext {
    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    font-family: Mulish;
    float: inside;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.card3 {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card3:hover {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 5%;
    border: 4px solid rgba(18, 148, 242, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.card3_text {
    width: 30%;
    color: rgba(159, 162, 180, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card3_subtext {
    width: 30%;
    color: rgba(37, 39, 51, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.card3:hover .card3_text {
    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card3:hover .card3_subtext {
    width: 30%;
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.card4 {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 55%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card4:hover {
    width: 40%;
    height: 25%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 55%;
    border: 4px solid rgba(18, 148, 242, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.card4_text {
    width: 30%;
    color: rgba(159, 162, 180, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.card4_subtext {
    width: 30%;
    color: rgba(37, 39, 51, 1);
    position: absolute;
    top: 60%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
.card4:hover .card4_subtext {
    color: rgba(18, 148, 242, 1);
    width: 30%;
    position: absolute;
    top: 60%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
.card4:hover .card4_text {
    color: rgba(18, 148, 242, 1);
    position: absolute;
    top: 20%;
    left: 35%;
    float:inside;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.top_bar{
    width: 100vh;
    height: 15vh;
    background: rgba(255, 255, 255, 1);
    opacity: 0.8999999761581421;
    border: 0px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}



.klaus_pic {
    width: 4%;
    height: 8%;
    background: url("../media/student_information/iohannis.png");
    opacity: 1;
    position: absolute;
    top: 3.5%;
    left: 90%;
    border-radius: 50%;
}



.v330_6610 {
    height: 59px;
    background: url("../media/student_information/iohannis.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 90%;
    overflow: hidden;
}

.v330_6611 {
    height: 59px;
    background: url("../media/student_information/iohannis.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(223, 224, 235, 1);
}


.chart_section {
    width: 40vw;
    position: fixed;
    height: 100vh;
    top: 20%;
    left: 55vw;
}

.text_chart {
    color: black;
    width: 771px;
    height: 34px;
    font-family: Mulish;
    text-align: left;
    font-size: 24px;
    float: inside;
    letter-spacing: 0.30000001192092896;
}

.e334_5330 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8999999761581421);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0px;
}

.e587_3544 {
    width: 427px;
    height: 764px;
    position: absolute;
    left: 14px;
    top: 116px;
}

.e587_3547 {
    width: 427px;
    height: 764px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e334_5540 {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 28px;
    top: 0px;
}

.e334_5541 {
    border-radius: 500px;
    background-color: rgba(123.24999645352364, 60.41304185986519, 40.56979224085808, 1);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.334
_5541 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5542 {
    border-radius: 500px;
    background-color: rgba(252.87500202655792, 0, 0, 0.4300000071525574);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.334
_5542 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5543 {
    border-radius: 500px;
    background-color: rgba(142.3276099562645, 196.5624949336052, 133.4986925125122, 1);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.334
_5543 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5544 {
    border-radius: 500px;
    background-color: rgba(81.81249797344208, 67.83619433641434, 69.51334834098816, 1);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.334
_5544 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5545 {
    border-radius: 500px;
    background-color: rgba(67.4023488163948, 96.86679616570473, 154.0625050663948, 1);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.334
_5545 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5546 {
    background-color: rgba(56.52499929070473, 80.74999898672104, 64.76149812340736, 1);
    width: 175px;
    height: 123.74368286132812px;
    position: absolute;
    left: 175px;
    top: 175px;
}

.334
_5546 {
    border: 1px solid rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
}

.e334_5550 {
    width: 29px;
    height: 299px;
    position: absolute;
    left: 0px;
    top: 405px;
}

.e334_5558 {
    border-radius: 500px;
    background-color: rgba(82.00000271201134, 68.00000354647636, 70.00000342726707, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e334_5559 {
    border-radius: 500px;
    background-color: rgba(57.00000040233135, 81.00000277161598, 65.0000037252903, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 108px;
}

.e334_5560 {
    border-radius: 500px;
    background-color: rgba(253.0000001192093, 0, 0, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 270px;
}

.e334_5547 {
    border-radius: 500px;
    background-color: rgba(142.00000673532486, 197.0000034570694, 133.00000727176666, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 54px;
}

.e334_5548 {
    border-radius: 500px;
    background-color: rgba(123.24999645352364, 60.41304185986519, 40.56979224085808, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 164px;
}

.e334_5549 {
    border-radius: 500px;
    background-color: rgba(67.00000360608101, 97.00000181794167, 154.00000602006912, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 218px;
}

.e587_3546 {
    width: 385px;
    height: 357px;
    position: absolute;
    left: 42px;
    top: 407px;
}

.e334_5552 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e334_5553 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 54px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e334_5554 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 108px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e334_5555 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 165px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e334_5556 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 216px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e334_5557 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 385px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 270px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}


.legend{
    list-style: none;
    padding-left:30px;
}
.legend li{
    margin-bottom: 10px;
    font-size: 18px;

}

.e325_4150 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4160 {
    color: #8EC585;
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 54px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4162 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 108px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4164 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 165px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4166 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 216px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4168 {
    color: rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
    width: 623px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 270px;
    font-family: Mulish;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.20000000298023224;
}

.e325_4151 {
    border-radius: 500px;
    background-color: rgba(18.168740272521973, 148.1358566880226, 242.24999696016312, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e325_4163 {
    border-radius: 500px;
    background-color: rgba(57.00000040233135, 81.00000277161598, 65.0000037252903, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 108px;
}

.e325_4169 {
    border-radius: 500px;
    background-color: rgba(253.0000001192093, 0, 0, 1);
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 270px;
}
/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}



